<div class="goal">
    <p>Goal: <%= link_to appointment.goal.title, appointment_path(appointment) %></p>
    <p>Date: <%= appointment.date %></p>
    <p>Coach: <%= appointment.coach.name %></p>
</div>